@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

@keyframes glow {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.eid-light {
  position: absolute;
  animation: glow 3s infinite ease-in-out;
}

.animate-glow {
  animation: glow 3s infinite ease-in-out;
}

.animate-blink {
  animation: blink 0.7s infinite;
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

.animate-pulse {
  animation: pulse 2s infinite;
}
